.producto {
    align-items: center;
    font-size: 1rem;
    margin: 0px 5px 0px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: auto;

    opacity: 0.9;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.producto:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    height: auto;
}

.producto:hover button {
    visibility: visible;
    transition: 0.4s ease-in-out;
}

.producto:hover img {
    opacity: 1;
    /* transform: scale(1.2); */
}

.producto button {
    margin: 5px 0px 0px 0px;
    padding: 1px 16px;
    visibility: hidden;
}
.producto button:hover {
    transform: scale(1.05); 
}

.producto img {
    width: 100%;
    opacity: 0.8;
    max-height: auto;
}

.producto h4 {
    margin: 10px;
    padding: 5px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}
.producto p {
    padding : 0px;
    margin: 5px 0px 5px 0px;
    font-size: 14px;
}